@import "tailwindcss";

html, body {
  height: 100%;
}

body {
  background: #000;
}

@layer base {
  body {
    color: rgb(255 255 255 / 0.92);
  }
}

@layer utilities {
  .text-white\/70 {
    color: rgb(255 255 255 / 0.86) !important;
  }
  .text-white\/60 {
    color: rgb(255 255 255 / 0.78) !important;
  }
  .text-white\/50 {
    color: rgb(255 255 255 / 0.7) !important;
  }
}
